body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-noto-serif-jp: "Noto Serif JP";
  --font-roboto: Roboto;
  --font-lexend: Lexend;
  --font-manrope: Manrope;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-gainsboro: #d9d9d9;
  --color-gray-100: #111827;
  --color-gray-200: rgba(0, 0, 0, 0);
  --color-gray-300: rgba(0, 0, 0, 0.05);
  --color-darkslategray-100: #374151;
  --color-darkslategray-200: #313131;
  --color-dimgray: #4b5563;
  --color-black: #000;

  /* Gaps */
  --gap-sm: 14px;
  --gap-xl: 20px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-3xl: 22px;
  --padding-22xl: 41px;
  --padding-64xl: 83px;
  --padding-2xl: 21px;
  --padding-4xl: 23px;
  --padding-19xl: 38px;
  --padding-lg: 18px;
  --padding-12xl: 31px;
  --padding-mini: 15px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-9xs: 4px;
}
